@{
    ViewData["Title"] = "Home Page";
}
@* @model PersonalAccount.Domain.Models.LoadingSettingsModel

<div class="text-center">
    <lebel class="form-controll">"@Model.Id"</lebel><br /> 
    <lebel class="form-controll">"@Model.Branch.Id"</lebel><br /> 
    <lebel class="form-controll">"@Model.Description"</lebel><br /> 
    <lebel class="form-controll">"@Model.StartPosition"</lebel><br /> 
    <lebel class="form-controll">"@Model.BatchSize"</lebel><br /> 
</div> *@
